:root {
  --bg-dark: #0f172a;
  --bg-light: #1e293b;
  --foreground-color: #cbd5e1;
  --white-smoke: #f5f5f5;
  --bg-alert: #94a3b8;
  --gris-oscuro: #64748b;
  --negro: #000;
  --blue: #4f46e5;
  --blue-hover: #4e46e5bc;
  --primary-font: 'Raleway', sans-serif;
  --bg-input: #334155;
  --foreground-subtitle: #38bdf8;
  --red: #dc2626;
  --pink: #f472b6;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
  background-color: var(--white-smoke);
}

.bg-light {
  background: #182233;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  html {
    font-size: 8px !important;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.fijar {
  overflow: hidden;
  height: 100vh;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

.sombra {
  box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
  background-color: var(--bg-light);
  padding: 4rem;
  border-radius: 1.2rem;
}

header {
  background-color: var(--bg-dark);
}

header h1 {
  padding: 3rem 0;
  margin: 0;
  color: var(--foreground-color);
  text-align: center;

  text-transform: uppercase;
}

.formulario {
  width: 95%;
  margin: 0 auto;
  padding: 10rem 0;
}

@media (min-width: 768px) {
  .formulario {
    padding: 5rem 0;
    width: 60rem;
  }
}

.formulario legend {
  font-size: 3.6rem;
  text-align: center;
  display: block;
  text-transform: uppercase;
  color: var(--foreground-color);
  margin-bottom: 4rem;
  padding-bottom: 1rem;
}

.formulario legend::after {
  content: "";
  display: block;
  margin: 2rem auto 0 auto;
  width: 50%;
  height: 2px;
  background-color: var(--blue);
}

.formulario .campo {
  display: grid;
  margin-bottom: 2rem;
}

.formulario label {
  color: var(--foreground-color);
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 2rem;
}

.formulario input[type="text"],
.formulario input[type="number"] {
  border-radius: .5rem;
  padding: 1rem;
  border: none;
  flex: 1;
  font-size: 1.6rem;
  background-color: var(--bg-input);
  color: var(--white-smoke);
}

@media (max-width: 768px) {

  .formulario input[type="text"],
  .formulario input[type="number"] {
    width: 100%;
  }
}

.formulario input[type="text"]:focus,
.formulario input[type="number"]:focus {
  background-color: var(--bg-light);
  outline: 2px solid #3776de;
}

.formulario input[type="submit"] {
  background-color: var(--blue);
  border: none;
  border-radius: .5rem;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
  color: var(--white-smoke);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.9rem;
  width: 100%;
  transition: background-color 300ms ease;
}

@media (min-width: 768px) {
  .formulario input[type="submit"] {
    display: block;
    padding: 1rem 5rem;
  }
}

.formulario input[type="submit"]:hover {
  background-color: var(--blue-hover);
  color: var(--foreground-color);
}

.formulario select {
  flex: 1;
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  text-align: center;
  background-color: #334155;
  color: var(--white-smoke);
}

.formulario select:focus {
  background-color: var(--bg-light);
  outline: 2px solid #3776de;
}

.alerta {
  padding: 2rem 5rem;
  max-width: 60rem;
  margin: 2rem auto 2rem auto;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.8rem;
  text-align: center;
}

.alerta.error {
  background-color: var(--bg-alert);
  border-left: 5px solid #b91c1c;
  color: #b91c1c;
}

/* .alerta.success {} */

.contenedor {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}

.contenedor-presupuesto {
  margin-top: -5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transform: translateY(5rem);
}

.dos-columnas {
  flex-direction: column;
}

.dos-columnas :first-child {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .dos-columnas {
    flex-direction: row;
    align-items: center;
    gap: 4rem;
  }

  .dos-columnas>div {
    width: 50%;
  }

  .dos-columnas :first-child {
    margin-bottom: 0;
  }
}

.formulario input[type="text"].nuevo-presupuesto,
.formulario input[type="number"].nuevo-presupuesto {
  font-size: 2.8rem;
  text-align: center;
}

.contenedor-presupuesto svg {
  width: 25rem;
}

.contenido-presupuesto {
  width: 100%;
}

.contenido-presupuesto p {
  font-weight: 400;
  color: var(--foreground-color);
  font-size: 2.4rem;
  text-align: center;
}

@media (min-width: 768px) {
  .contenido-presupuesto p {
    text-align: left;
  }
}

.contenido-presupuesto p.negativo,
.contenido-presupuesto p.negativo span {
  color: var(--red);
}

.contenido-presupuesto span {
  font-weight: 900;
  color: var(--foreground-color);
}

.reset-app {
  border: none;
  background: var(--red);
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: var(--foreground-color);
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 1rem;
  transition: background .3s ease-in-out;
}

.reset-app:hover {
  background-color: #ad1f1f;
}

main {
  padding-top: 10rem;
}

.filtros .campo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.filtros label {
  font-size: 3rem;
  font-weight: 700;
  color: var(--foreground-color);
}

.filtros select {
  flex: 1;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  text-align: center;
  background-color: var(--bg-input);
  color: var(--foreground-color);
}

.filtros select:focus {
  background-color: var(--bg-light);
  outline: 2px solid #3776de;
}

.listado-gastos {
  margin-top: 5rem;
}

.listado-gastos h2 {
  color: var(--foreground-color);
  font-weight: 900;
}

.no-gastos {
  text-align: center;
  font-size: 2.2rem;
}

.gasto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 480px) {
  .gasto {
    display: inline;
    text-align: center;
  }
}

.cantidad-gasto {
  font-size: 2.4rem;
  color: var(--pink);
}

.contenido-gasto {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 480px) {
  .contenido-gasto {
    flex-direction: column;
    text-align: center;
  }

  p.cantidad-gasto {
    margin: 1rem 0;
  }


}

.contenido-gasto img {
  width: 10rem;
}

.descripcion-gasto p {
  margin: 0 0 0.3rem 0;
}

.descripcion-gasto .categoria {
  color: var(--foreground-color);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 480px) {
  .descripcion-gasto .categoria {
    top: -12rem;
    left: -12rem;
    padding: 1rem;
    position: relative;
    transform: rotate(-45deg);
    background: var(--bg-input);
    width: 20rem;
    max-width: 50vw;
    overflow: hidden;
    margin: 0;
    text-align: center;
    box-shadow: 6px 10px 37px -11px rgba(0, 0, 0, 0.75);
  }
}

.descripcion-gasto p {
  margin-bottom: 1rem;
}

.descripcion-gasto .nombre-gasto {
  color: var(--foreground-subtitle);
  font-size: 2.4rem;
  font-weight: 600;
}

.descripcion-gasto .nombre-gasto:hover {
  cursor: pointer;
}

.descripcion-gasto .fecha-gasto {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--foreground-color);
}

.descripcion-gasto .fecha-gasto span {
  font-weight: 400;
}

.nuevo-gasto {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
}

.nuevo-gasto img {
  width: 5rem;
  transition: transform .2s;
}

.nuevo-gasto img:hover {
  transform: translateY(-.23rem);
}

.modal {
  max-width: 100vw;
  max-height: 100vh;
  position: absolute;
  background: hsla(212, 25%, 10%, 0.838);
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal .cerrar-modal {
  position: absolute;
  right: 3rem;
  top: 3rem;
  width: 2rem;
  height: 2rem;
  transition: transform .2s;
  z-index: 1;
}

.modal .cerrar-modal:hover {
  transform: translateY(-.23rem);
}

.modal .cerrar-modal img {
  width: 100%;
}

.modal .formulario {
  max-width: 80rem;
  width: 40rem;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  opacity: 0;
}

.modal label {
  color: var(--foreground-color);
}

body .modal {
  overflow: hidden;
}

.modal .formulario.animar {
  position: relative;
  opacity: 1;
}

.modal .formulario.cerrar {
  opacity: 0;
}

.modal label {
  text-align: left;
}

.CircularProgressbar .CircularProgressbar-text {
  font-size: 1rem !important;
}

/*** SWIPE LIST OVERRIDES **/
.swipeable-list .swipe-action {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  text-align: right;
  border-radius: 15px;
}

.swipe-action__leading {
  background-color: var(--blue);
  color: var(--foreground-color);
  margin-bottom: 2rem;
}

.swipe-action__trailing {
  background-color: var(--red);
  color: var(--foreground-color);
  margin-bottom: 2rem;
}
